@font-face {
    font-family: 'typography';
    src: url('../webpage/Fonts/Typography Times Regular.ttf');
} 

#tempo {
    font-family: 'typography';
    display: flex;
    justify-content: center;
    color: bisque;
    box-shadow: 0 0 10px black;
}

body {
    background-image: radial-gradient(circle,blueviolet, black);
    background-attachment: fixed;
}

.relogio img {
    
    position: absolute;
    top: 20%;
    left: 43%;
    box-shadow: 0 0 10px cornflowerblue;
    border-radius: 100%
}